body {
     background-image: url("../images/08d9ef7723de602edefa8af825d9a1e2.gif");
     background-position: center center;
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
   
}

h2, h6, h3, .scoreBoard {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    margin-top: 15px;
    border: dotted white 3px;
    padding: 15px;
    background-color: rgba(88, 119, 78, 0.45);
   }

   h2:hover, h6:hover, h3:hover, .scoreBoard:hover {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    margin-top: 15px;
    border: dotted yellow 3px;
    padding: 15px;
    background-color: rgba(88, 119, 78, 0.75);
   }

   Button {
    font-family: 'Press Start 2P', cursive;
   
   }

   Button:hover {
    font-family: 'Press Start 2P', cursive;
   

   }

.modal-title, .modal-body {
    font-family: 'Press Start 2P', cursive;
    


}

p {
    font-size: 14px;
    

}

.img-thumbnail {
    background-color: rgba(43, 58, 39, 0.75);
    border: dotted white 3px;
   

}

.img-thumbnail:hover {
    
    border: dotted yellow 3px;
    background-color: rgba(88, 119, 78, 0.75);
    

}

.images {
   text-align: center;
}

